[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Platforms to develop, test, and run stock trading strategies
[access "refs/*"]
	owner = group user/Yasmany Arcia Corcho (YasmanyArciaCorcho)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Yasmany Arcia Corcho (YasmanyArciaCorcho)
	label-Verified = -1..+1 group user/Yasmany Arcia Corcho (YasmanyArciaCorcho)
	push = group user/Yasmany Arcia Corcho (YasmanyArciaCorcho)
	read = group user/Yasmany Arcia Corcho (YasmanyArciaCorcho)
	rebase = group user/Yasmany Arcia Corcho (YasmanyArciaCorcho)
	removeReviewer = group user/Yasmany Arcia Corcho (YasmanyArciaCorcho)
	submit = group user/Yasmany Arcia Corcho (YasmanyArciaCorcho)
[access "refs/heads/*"]
	create = group user/Yasmany Arcia Corcho (YasmanyArciaCorcho)
	push = +force group user/Yasmany Arcia Corcho (YasmanyArciaCorcho)
	pushMerge = group user/Yasmany Arcia Corcho (YasmanyArciaCorcho)
	read = group user/Yasmany Arcia Corcho (YasmanyArciaCorcho)
[access "refs/tags/*"]
	push = group user/Yasmany Arcia Corcho (YasmanyArciaCorcho)
	push = +force group user/Yasmany Arcia Corcho (YasmanyArciaCorcho)
